<!doctype html>
<html lang="zh-CN">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="manifest" href="/manifest.json">
    <meta charset="UTF-8">
    <meta name=renderer content=webkit>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#002140">
    <meta name="x5-orientation" content="portrait">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-page-mode" content="app">
    <meta name="browsermode" content="application">
    <title>珠江云管理系统</title>
    <link href="/statics/images/favicon.ico" rel="shortcut icon" />
<!--    <script async src="/pwacompat.min.js"></script>-->
</head>

<body>
    <div id="app"></div>
</body>

</html>
